@model Partial_Views.Test

<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Sr. #</th>
                <th>Name</th>
                <th>Designation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.SrNo</td>
                <td>@Model.Name</td>
                <td>@Model.Designation</td>
            </tr>
        </tbody>
    </table>
</div>
