<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Sr. #</th>
                <th>Name</th>
                <th>Designation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Rana Abdul Mateen</td>
                <td>Full Stack Developer</td>
            </tr>
        </tbody>
    </table>
</div>
